@use "./variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: 62.5%;
}
button {
  background: $primaryColor;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 4px 30px 4px 30px;
  border: 1px solid $primaryColor;
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 28px;
  width: 100%;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"],
select {
  font-family: $font-family;
  padding: 1rem 1.8rem;
  background: #ffffff;
  border: 1px solid $fontGray;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  transition: all 0.25s ease-in;
  //   &:hover {
  //     border: 1px solid $primaryColor;
  //   }
  //   &:focus {
  //     outline: none !important;
  //     box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  //   }
}
label {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

a {
  color: $secondaryColor;
  text-decoration: none;
}
input[type="checkbox"] {
  border: 1px solid $fontGray;
  box-sizing: border-box;
  border-radius: 2px;
}
