@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

p {
  font-family: $font-family;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: $fontColor;
}
h3 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: $fontColor;
}

h2 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: $fontColor;
}

h1 {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: $fontColor;
}
