// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Fonts

$font-family: "Poppins";

// Titles, paragraphs

$h2-size: "";
$h1-size: "";
$h3-size: "";
$p-size: "";

// Colors

//Text

$textColor: #161616;
$textLightColor: #ffffff;

//Main colors

// $primaryHoverColor: ;
// $secondaryHoverColor: ;
// $thirdHoverColor: ;

$primaryColor: #f2c84b;
$secondaryColor: #79acd9;
$thirdColor: #000a27;

$dangerColor: #ed5b3b;
$infoColor: #47dc67;
