@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/global";

.navbar {
  display: none;
  @include mobile-only {
    display: inline;
  }
}
.container {
  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
