.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-tertiary {
    color: $color-tertiary;
}

.color-error {
    color: $color-error;
}

.color-success {
    color: $color-success;
}

.color-gray {
    color: $color-gray;
}

.color-lightgray {
    color: $color-lightgray;
}