// color
$color-primary: #f2c84b;
$color-secondary: #79acd9;
$color-tertiary: #000a27;
$color-error: #eb6d51;
$color-success: #68dc81;
$color-gray: #c4c4c4;
$color-lightgray: #ededed;
$color-black: #161616;

// font family
$font-primary: "Poppins", sans-serif;
$font-secondary: "Titan One", cursive;

// others
$radius: 1.1rem;
$shadow: 0px 8px 18px rgba(0, 10, 39, 0.08);