// color
$color-primary: #F2C84B;
$color-secondary: #79ACD9;
$color-tertiary: #000A27;
$color-error: #EB6D51;
$color-success: #68DC81;
$color-gray: #C4C4C4;
$color-lightgray: #ededed;

// font family
$font-primary: "Poppins", sans-serif;
$font-secondary: "Titan One", cursive;

// others
$radius: 1.1rem;